<wm-partial data-ng-controller="topnavPageController" name="topnav" type="topnav"> 
    <wm-navbar name="navbar1"> 
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left"> 
            <wm-nav-item name="nav_item5"> 
                <wm-menu caption="Anchor" autoclose="always" name="menu1" iconclass="fa fa-anchor" type="anchor" dataset="bind:Variables.AnchorMenu.dataSet" itemlabel="label" itemlink="link" itemicon="icon" animateitems="slide"></wm-menu> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item6"> 
                <wm-menu caption="Toggle" autoclose="always" name="menu2" iconclass="fa fa-toggle-on" type="anchor" dataset="bind:Variables.ToggleMenu.dataSet" itemlabel="label" itemlink="link" itemicon="icon" animateitems="fade"></wm-menu> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item7"> 
                <wm-menu caption="Picture" autoclose="always" name="menu3" iconclass="fa fa-picture-o" type="anchor" dataset="bind:Variables.PictureMenu.dataSet" itemlabel="label" itemlink="link" itemicon="icon" animateitems="scale"></wm-menu> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item8"> 
                <wm-menu caption="Html" autoclose="always" name="menu4" iconclass="fa fa-html5" type="anchor" dataset="bind:Variables.HtmlMenu.dataSet" itemlabel="label" itemlink="link" itemicon="icon"></wm-menu> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item9_1"> 
                <wm-menu caption="Iframe Dailog" autoclose="always" name="menu9" iconclass="wi wi-filter-frames" type="anchor" dataset="bind:Variables.IframeDialogMenu.dataSet" itemlabel="label" itemlink="link" itemicon="icon"></wm-menu> 
            </wm-nav-item> 
        </wm-nav> 
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right"> 
            <wm-nav-item name="nav_item9"> 
                <wm-menu caption="Time" autoclose="outsideClick" name="menu5" iconclass="wi wi-timer" type="anchor" dataset="bind:Variables.TimeMenu.dataSet" itemlabel="label" itemlink="link" itemicon="icon"></wm-menu> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item6_1"> 
                <wm-menu caption="Tabs" autoclose="always" name="menu6" iconclass="wi wi-tab" type="anchor" dataset="bind:Variables.TabsMenu.dataSet" itemlabel="label" itemlink="link" itemicon="icon" animateitems="slide"></wm-menu> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item7_1"> 
                <wm-menu caption="Accordion" autoclose="always" name="menu7" iconclass="wi wi-class" type="anchor" dataset="bind:Variables.AccordionMenu.dataSet" itemlabel="label" itemlink="link" itemicon="icon" animateitems="fade"></wm-menu> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item8_1"> 
                <wm-menu caption="Checkboxset" autoclose="always" name="menu8" iconclass="wi wi-check-box" type="anchor" dataset="bind:Variables.CheckboxsetManu.dataSet" itemlabel="label" itemlink="link" itemicon="icon" animateitems="scale"></wm-menu> 
            </wm-nav-item> 
            <wm-nav-item name="nav_item10"> 
                <wm-menu caption="Radioset" autoclose="always" name="menu10" iconclass="wi wi-radio-button-checked" type="anchor" dataset="bind:Variables.RadiosetMenu.dataSet" itemlabel="label" itemlink="link" itemicon="icon" animateitems="scale"></wm-menu> 
            </wm-nav-item> 
        </wm-nav> 
    </wm-navbar> 
</wm-partial>