<wm-partial data-ng-controller="iframedialog_binding_partialPageController"> 
    <wm-layoutgrid name="layoutgrid1"> 
        <wm-gridrow name="gridrow1"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn1"> 
                <wm-label padding="unset 0.5em" name="label7" caption="Iframe Dialog Common Properties Bindings" textalign="left" width="100%" fontweight="bold" color="#0d0c0c" class="h2"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn17" horizontalalign="center"> 
                <wm-label padding="unset 0.5em" caption="Preview" textalign="center" width="100%" fontweight="bold" color="#0d0c0c" class="h2" name="label18"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow8"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn13_1"> 
                <wm-label padding="unset 0.5em 1em unset" name="label17" caption="Changeable Properties" fontweight="bold" color="#000000" margin="20px unset unset unset" class="h3"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn14"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow2"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn3"> 
                <wm-composite name="composite4"> 
                    <wm-label class="col-md-3 control-label" name="label5" caption="Title"></wm-label> 
                    <wm-container class="col-md-9" name="container4"> 
                        <wm-text name="text3" datavalue="Iframe Dialog"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite10"> 
                    <wm-label class="col-md-3 control-label" name="label12" caption="Ok Text"></wm-label> 
                    <wm-container class="col-md-9" name="container10"> 
                        <wm-text name="text9" datavalue="Done!"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite14"> 
                    <wm-label class="col-md-3 control-label" caption="Icon Class" name="label19"></wm-label> 
                    <wm-container class="col-md-9" name="container14"> 
                        <wm-text datavalue="wi wi-alarm" autofocus="false" name="text12"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite14_1"> 
                    <wm-label class="col-md-3 control-label" name="label17_1" caption="URL"></wm-label> 
                    <wm-container class="col-md-9" name="container14_1"> 
                        <wm-select name="select1" dataset="https://www.tutorialspoint.com/,https://www.bing.com,https://www.wavemaker.com/showcase/,https://www.wavemakeronline.com/" datavalue="https://www.bing.com" datafield="All Fields"></wm-select> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn4" class="text-center"> 
                <wm-button class="btn-info" caption="Click to see Iframe Dialog" type="button" margin="unset 0.5em" name="button1" on-click="Widgets.iframedialog1.open()" width="200px" height="100px" fontunit="px" textalign="center"></wm-button> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn7"> 
                <wm-label padding="unset 0.5em 1em unset" name="label13_1" caption="Unchangeable Properties In Runtime" fontweight="bold" color="#000000" margin="20px unset unset unset" class="h3"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow4"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn8"> 
                <wm-composite name="composite5"> 
                    <wm-label class="col-md-3 control-label" name="label6" caption="Tab Index"></wm-label> 
                    <wm-container class="col-md-9" name="container5"> 
                        <wm-text name="text4" tabindex="1" datavalue="bind:Widgets.iframedialog1.tabindex"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn9"> 
                <wm-composite name="composite23"> 
                    <wm-label class="col-md-3 control-label" caption="Icon Width / Height / Margin" name="label26"></wm-label> 
                    <wm-container class="col-md-9" name="container23"> 
                        <wm-text tabindex="3" datavalue="bind:Widgets.iframedialog1.iconwidth + &quot; / &quot; + Widgets.iframedialog1.iconheight + &quot; / &quot; +Widgets.iframedialog1.iconmargin" name="text15"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow5"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn10"> 
                <wm-composite name="composite8"> 
                    <wm-label class="col-md-3 control-label" name="label10" caption="Name"></wm-label> 
                    <wm-container class="col-md-9" name="container8"> 
                        <wm-text name="text7" tabindex="3" datavalue="bind:Widgets.iframedialog1.name"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn11"> 
                <wm-composite name="composite9"> 
                    <wm-label class="col-md-3 control-label" name="label11" caption="Animation"></wm-label> 
                    <wm-container class="col-md-9" name="container9"> 
                        <wm-text name="text8" tabindex="4" datavalue="bind:Widgets.iframedialog1.animation"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow7"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn11_1"> 
                <wm-composite name="composite20"> 
                    <wm-label class="col-md-3 control-label" name="label25" caption="Modal"></wm-label> 
                    <wm-container class="col-md-9" name="container20"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" datavalue="bind:Widgets.iframedialog1.modal"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn12"> 
                <wm-composite name="composite19"> 
                    <wm-label class="col-md-3 control-label" caption="Enable Default Close Action" name="label22"></wm-label> 
                    <wm-container class="col-md-9" name="container19"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle2" datavalue="bind:Widgets.iframedialog1.closable"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow9"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn15"> 
                <wm-composite name="composite13"> 
                    <wm-label class="col-md-3 control-label" name="label16" caption="Show Header"></wm-label> 
                    <wm-container class="col-md-9" name="container13"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle3" datavalue="bind:Widgets.iframedialog1.showheader"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn16"> 
                <wm-composite name="composite14_2"> 
                    <wm-label class="col-md-3 control-label" name="label17_2" caption="Show Actions"></wm-label> 
                    <wm-container class="col-md-9" name="container14_2"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle4" datavalue="bind:Widgets.iframedialog1.showactions"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow8_1"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn13"> 
                <wm-composite name="composite15"> 
                    <wm-label class="col-md-3 control-label" name="label19_1" caption="Encode URL"></wm-label> 
                    <wm-container class="col-md-9" name="container15"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle5" datavalue="bind:Widgets.iframedialog1.encodeurl"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn14_1"> 
                <wm-composite name="composite20_1"> 
                    <wm-label class="col-md-3 control-label" caption="Width / Height" name="label23"></wm-label> 
                    <wm-container class="col-md-9" name="container20_1"> 
                        <wm-text tabindex="3" datavalue="bind:Widgets.iframedialog1.width + &quot; / &quot; + Widgets.iframedialog1.height" name="text12_1"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-view class="dialog-view" name="view1"> 
        <wm-iframedialog name="iframedialog1" url="bind:Widgets.select1.datavalue" title="bind:Widgets.text3.datavalue" oktext="bind:Widgets.text9.datavalue" iconclass="bind:Widgets.text12.datavalue" height="500px" width="auto" modal="true" showactions="true" animation="bounceIn" encodeurl="true"></wm-iframedialog> 
    </wm-view> 
</wm-partial>