<wm-partial data-ng-controller="radioset_binding_partialPageController"> 
    <wm-layoutgrid name="layoutgrid1"> 
        <wm-gridrow name="gridrow1"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn1"> 
                <wm-label padding="unset 0.5em" name="label7" caption="Radioset widget properties with Bindings" textalign="left" width="100%" color="#0d0c0c" class="h2"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn13" horizontalalign="center"> 
                <wm-label padding="unset 0.5em" name="label29_1" fontweight="bold" class="h2" caption="Preview"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow8"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn13_1"> 
                <wm-label padding="unset 0.5em 1em unset" name="label17" caption="Changeable Properties for RADIOSET2" fontweight="bold" color="#000000" margin="20px unset unset unset" class="h3"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn14" horizontalalign="left"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow2"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn3"> 
                <wm-composite name="composite12"> 
                    <wm-label class="col-md-3 control-label" name="label14" caption="Value (Default Value)"></wm-label> 
                    <wm-container class="col-md-9" name="container12"> 
                        <wm-select name="select1" datavalue="Hyderabad" autofocus="false" dataset="bind:Widgets.text12.datavalue" datafield="All Fields"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite13_2"> 
                    <wm-label class="col-md-3 control-label" caption="DataSet Value" name="label16"></wm-label> 
                    <wm-container class="col-md-9" name="container13_2"> 
                        <wm-text datavalue="Hyderabad, Delhi, Banglore, Munnar" autofocus="false" name="text12"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite16"> 
                    <wm-label class="col-md-3 control-label" name="label19" caption="Readonly"></wm-label> 
                    <wm-container class="col-md-9" name="container16"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1"></wm-checkbox> 
                    </wm-container> 
                    <wm-composite name="composite17"></wm-composite> 
                    <wm-composite name="composite18"> 
                        <wm-label class="col-md-3 control-label" name="label21" caption="Disabled"></wm-label> 
                        <wm-container class="col-md-9" name="container18"> 
                            <wm-checkbox caption="Toggle" type="toggle" name="toggle3"></wm-checkbox> 
                        </wm-container> 
                    </wm-composite> 
                </wm-composite> 
                <wm-composite name="composite20"> 
                    <wm-label class="col-md-3 control-label" name="label23" caption="Show"></wm-label> 
                    <wm-container class="col-md-9" name="container20"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle5" datavalue="true" checkedvalue="true" uncheckedvalue="false"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite18_2"> 
                    <wm-label class="col-md-3 control-label" name="label21_2" caption="Required"></wm-label> 
                    <wm-container class="col-md-9" name="container17_1"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle4"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite17_1"> 
                    <wm-label class="col-md-3 control-label" name="label20" caption="Value for 4"></wm-label> 
                    <wm-container class="col-md-9" name="container16_1"> 
                        <wm-text name="text7_1" datavalue="HYD"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn4" class="text-center"> 
                <wm-composite name="composite18_1" captionposition="top"> 
                    <wm-label class="col-md-3 control-label" name="label21_1" caption="1 ArrayOfObjects ( [ {},{},{}])"></wm-label> 
                    <wm-container class="col-md-9" name="container17"> 
                        <wm-radioset height="auto" name="radioset1" dataset="bind:Variables.ArrayOfObjectsForSelect.dataSet" datafield="All Fields" orderby="Zip:desc" displayexpression="bind:$[dataValue]" layout="inline" selectedvalue="Hyd" usekeys="false"></wm-radioset> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite19" captionposition="top"> 
                    <wm-label class="col-md-3 control-label" name="label22" caption="2 Comma Separated Data( A,B,C)"></wm-label> 
                    <wm-container class="col-md-9" name="container18_1"> 
                        <wm-radioset height="auto" name="radioset2" dataset="bind:Widgets.text12.datavalue" datafield="All Fields" selectedvalue="bind:Widgets.select1.datavalue" usekeys="false" width="300px" layout="stacked" readonly="bind:Widgets.toggle1.datavalue" disabled="bind:Widgets.toggle3.datavalue" show="bind:Widgets.toggle5.datavalue" deferload="true" required="bind:Widgets.toggle4.datavalue"></wm-radioset> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite20_1" captionposition="top"> 
                    <wm-label class="col-md-3 control-label" name="label23_1" caption="3 JsonObject Data ( {} )"></wm-label> 
                    <wm-container class="col-md-9" name="container19"> 
                        <wm-radioset height="auto" name="radioset3" dataset="bind:Variables.JsonObject.dataSet.dataValue" datafield="All Fields" layout="inline"></wm-radioset> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite21" captionposition="top"> 
                    <wm-label class="col-md-3 control-label" name="label24" caption="4 Array Data ( [A,B,C] )"></wm-label> 
                    <wm-container class="col-md-9" name="container20_1"> 
                        <wm-radioset height="auto" name="radioset4" dataset="bind:Variables.ValuesInsideArray.dataSet" datafield="All Fields" selectedvalue="bind:Widgets.text7_1.datavalue"></wm-radioset> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite17_2" captionposition="top"> 
                    <wm-label class="col-md-3 control-label" name="label20_1" caption="Radioset1 selected data"></wm-label> 
                    <wm-container class="col-md-9" name="container16_2" horizontalalign="left"> 
                        <wm-radioset height="auto" name="radioset5" layout="inline" dataset="bind:Widgets.radioset1.datavalue" datafield="All Fields"></wm-radioset> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn7"> 
                <wm-label padding="unset 0.5em 1em unset" name="label13_1" caption="Unchangeable Properties In Runtime" fontweight="bold" color="#000000" margin="20px unset unset unset" class="h3"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow4"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn8"> 
                <wm-composite name="composite5"> 
                    <wm-label class="col-md-3 control-label" name="label6" caption="Tab Index"></wm-label> 
                    <wm-container class="col-md-9" name="container5"> 
                        <wm-text name="text4" tabindex="1" datavalue="bind:Widgets.radioset2.tabindex"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite8"> 
                    <wm-label class="col-md-3 control-label" name="label10" caption="Width / Height"></wm-label> 
                    <wm-container class="col-md-9" name="container8"> 
                        <wm-text name="text7" tabindex="3" datavalue="bind:Widgets.radioset2.width + &quot; / &quot; + Widgets.radioset2.height"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite9"> 
                    <wm-label class="col-md-3 control-label" name="label11" caption="Name"></wm-label> 
                    <wm-container class="col-md-9" name="container9"> 
                        <wm-text name="text8" tabindex="4" datavalue="bind:Widgets.radioset2.name"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite7"> 
                    <wm-label class="col-md-3 control-label" name="label9" caption="Layout"></wm-label> 
                    <wm-container class="col-md-9" name="container7"> 
                        <wm-text name="text6" tabindex="2" datavalue="bind:Widgets.radioset2.layout"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite19_1"> 
                    <wm-label class="col-md-3 control-label" name="label22_1" caption="Load On Demand"></wm-label> 
                    <wm-container class="col-md-9" name="container18_2"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle5_1" datavalue="bind:Widgets.radioset2.deferload"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite15"> 
                    <wm-label class="col-md-3 control-label" caption="Display Expression for 1" name="label18"></wm-label> 
                    <wm-container class="col-md-9" name="container15"> 
                        <wm-text datavalue="bind:Widegts.radioset1.displyexpression" autofocus="false" name="text14"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn9"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow5"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn10"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn11"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow7"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn11_1"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn12"></wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>