<wm-page data-ng-controller="testPageController" pagetitle="Test" name="page1"> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-composite name="composite1"> 
                <wm-label class="col-md-3 control-label" name="label1"></wm-label> 
                <wm-container class="col-md-9" name="container1"> 
                    <wm-radioset height="auto" name="radioset1" layout="stacked" selectedvalue="Option 2"></wm-radioset> 
                </wm-container> 
            </wm-composite> 
            <wm-composite name="composite2"> 
                <wm-label class="col-md-3 control-label" name="label2"></wm-label> 
                <wm-container class="col-md-9" name="container2"> 
                    <wm-checkboxset height="auto" name="checkboxset1" selectedvalues="Option 2"></wm-checkboxset> 
                </wm-container> 
            </wm-composite> 
            <wm-composite name="composite3"> 
                <wm-label class="col-md-3 control-label" name="label3"></wm-label> 
                <wm-container class="col-md-9" name="container3"> 
                    <wm-select name="select1" dataset="Option 1, Option 2, Option 3" datavalue="Option 2"></wm-select> 
                </wm-container> 
            </wm-composite> 
        </wm-page-content> 
    </wm-content> 
</wm-page>