<wm-page data-ng-controller="checkboxset_eventsPageController" pagetitle="Checkboxset Events"> 
    <wm-header content="header"></wm-header> 
    <wm-top-nav content="topnav"></wm-top-nav> 
    <wm-content> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-accordion name="accordion1"> 
                <wm-accordionpane name="accordionpane1" title="Checkboxset Events"> 
                    <wm-layoutgrid name="layoutgrid1"> 
                        <wm-gridrow name="gridrow1"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn1"> 
                                <wm-label padding="unset 0.5em" name="label7" caption="Checkboxset widget properties with Events" textalign="left" width="100%" color="#0d0c0c" class="h2"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn13" horizontalalign="center"> 
                                <wm-label padding="unset 0.5em" name="label29_1" fontweight="bold" class="h2" caption="Preview"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow8"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn13_1"> 
                                <wm-label padding="unset 0.5em 1em unset" name="label17" caption="Changeable Properties for CHECKBOXSET1" fontweight="bold" color="#000000" margin="20px unset unset unset" class="h3"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn14" horizontalalign="left"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow2"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn3"> 
                                <wm-composite name="composite12"> 
                                    <wm-label class="col-md-3 control-label" name="label14" caption="Value (Default Value)"></wm-label> 
                                    <wm-container class="col-md-9" name="container12"> 
                                        <wm-select name="select1" datavalue="Hyderabad" autofocus="false" dataset="bind:Widgets.text12.datavalue" datafield="All Fields" multiple="true" height="100px" on-blur="select1Blur($event, $scope)"></wm-select> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite13_2"> 
                                    <wm-label class="col-md-3 control-label" caption="DataSet Value" name="label16"></wm-label> 
                                    <wm-container class="col-md-9" name="container13_2"> 
                                        <wm-text datavalue="Hyderabad, Delhi, Banglore, Munnar" autofocus="false" name="text12" on-change="text12Change($event, $scope, newVal, oldVal)" on-blur="text12Blur($event, $scope)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite16"> 
                                    <wm-label class="col-md-3 control-label" name="label19" caption="Readonly"></wm-label> 
                                    <wm-container class="col-md-9" name="container16"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" on-blur="toggle1Blur($event, $scope)"></wm-checkbox> 
                                    </wm-container> 
                                    <wm-composite name="composite17"></wm-composite> 
                                    <wm-composite name="composite18"> 
                                        <wm-label class="col-md-3 control-label" name="label21" caption="Disabled"></wm-label> 
                                        <wm-container class="col-md-9" name="container18"> 
                                            <wm-checkbox caption="Toggle" type="toggle" name="toggle3" on-blur="toggle3Blur($event, $scope)"></wm-checkbox> 
                                        </wm-container> 
                                    </wm-composite> 
                                </wm-composite> 
                                <wm-composite name="composite20"> 
                                    <wm-label class="col-md-3 control-label" name="label23" caption="Show"></wm-label> 
                                    <wm-container class="col-md-9" name="container20"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle5" datavalue="true" checkedvalue="true" uncheckedvalue="false" on-blur="toggle5Blur($event, $scope)"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite17_1"> 
                                    <wm-label class="col-md-3 control-label" name="label20" caption="Value"></wm-label> 
                                    <wm-container class="col-md-9" name="container16_1"> 
                                        <wm-text name="text7_1" datavalue="HYD" on-blur="text7_1Blur($event, $scope)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite18_1"> 
                                    <wm-label class="col-md-3 control-label" name="label21_1" caption="Layout"></wm-label> 
                                    <wm-container class="col-md-9" name="container17"> 
                                        <wm-select name="select2" datavalue="stacked" dataset="inline,stacked" datafield="All Fields" on-blur="select2Blur($event, $scope)"></wm-select> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite19"> 
                                    <wm-label class="col-md-3 control-label" name="label22" caption="Use Keys"></wm-label> 
                                    <wm-container class="col-md-9" name="container18_1"> 
                                        <wm-text name="text8_1" datavalue="false" on-blur="text8_1Blur($event, $scope)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite20_1"> 
                                    <wm-label class="col-md-3 control-label" name="label23_1" caption="Data field"></wm-label> 
                                    <wm-container class="col-md-9" name="container19"> 
                                        <wm-text name="text9" datavalue="All Fields" on-blur="text9Blur($event, $scope)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite21"> 
                                    <wm-label class="col-md-3 control-label" name="label24" caption="Display field"></wm-label> 
                                    <wm-container class="col-md-9" name="container20_1"> 
                                        <wm-text name="text10" datavalue="Zip" on-blur="text10Blur($event, $scope)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite22"> 
                                    <wm-label class="col-md-3 control-label" name="label25" caption="Display expression"></wm-label> 
                                    <wm-container class="col-md-9" name="container21_1"> 
                                        <wm-text name="text11" datavalue="$[dataValue]" on-blur="text11Blur($event, $scope)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite23"> 
                                    <wm-label class="col-md-3 control-label" name="label26" caption="Order by"></wm-label> 
                                    <wm-container class="col-md-9" name="container22_1"> 
                                        <wm-text name="text12_1" on-blur="text12_1Blur($event, $scope)" datavalue="Zip:desc"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite8"> 
                                    <wm-label class="col-md-3 control-label" name="label10" caption="Width"></wm-label> 
                                    <wm-container class="col-md-9" name="container8"> 
                                        <wm-text name="text7" tabindex="3" datavalue="auto" on-blur="text7Blur($event, $scope)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite24"> 
                                    <wm-label class="col-md-3 control-label" name="label27" caption="Height"></wm-label> 
                                    <wm-container class="col-md-9" name="container23_1"> 
                                        <wm-text name="text13" datavalue="200px" on-blur="text13Blur($event, $scope)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite25"> 
                                    <wm-label class="col-md-3 control-label" name="label28" caption="Group By"></wm-label> 
                                    <wm-container class="col-md-9" name="container24_1"> 
                                        <wm-text name="text14_1" datavalue="Pending" on-blur="text14_1Blur($event, $scope)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn4" class="text-center"> 
                                <wm-composite name="composite26" captionposition="top"> 
                                    <wm-label class="col-md-3 control-label" name="label29" caption="1 ArrayOfObjects ( [ {},{},{}])"></wm-label> 
                                    <wm-container class="col-md-9" name="container21"> 
                                        <wm-checkboxset height="auto" name="checkboxset1" layout="inline" dataset="bind:Variables.ArrayOfObjectsForSelect.dataSet" usekeys="false" orderby="Zip:desc" readonly="false" disabled="false" show="true" deferload="true" selectedvalues="Hyd" on-change="checkboxset1Change($event, $scope, newVal, oldVal)" on-click="checkboxset1Click($event, $scope)" on-mouseenter="checkboxset1Mouseenter($event, $scope)" on-mouseleave="checkboxset1Mouseleave($event, $scope)" on-tap="checkboxset1Tap($event, $scope)" on-ready="checkboxset1Ready($event, $scope)"></wm-checkboxset> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite27" captionposition="top"> 
                                    <wm-label class="col-md-3 control-label" name="label30" caption="2 Comma Separated Data( A,B,C)"></wm-label> 
                                    <wm-container class="col-md-9" name="container22"> 
                                        <wm-checkboxset height="auto" name="checkboxset2" datafield="All Fields" readonly="false" show="true" deferload="true" disabled="false" width="400px" layout="stacked" on-change="checkboxset2Change($event, $scope, newVal, oldVal)" on-click="checkboxset2Click($event, $scope)" on-mouseenter="checkboxset2Mouseenter($event, $scope)" on-mouseleave="checkboxset2Mouseleave($event, $scope)" on-tap="checkboxset2Tap($event, $scope)" on-ready="checkboxset2Ready($event, $scope)"></wm-checkboxset> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite28" captionposition="top"> 
                                    <wm-label class="col-md-3 control-label" name="label31" caption="3 JsonObject Data ( {} )"></wm-label> 
                                    <wm-container class="col-md-9" name="container23"> 
                                        <wm-checkboxset height="auto" name="checkboxset3" layout="inline" dataset="bind:Variables.JsonObject.dataSet.dataValue" datafield="All Fields"></wm-checkboxset> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite29" captionposition="top"> 
                                    <wm-label class="col-md-3 control-label" name="label32" caption="4 Array Data ( [A,B,C] )"></wm-label> 
                                    <wm-container class="col-md-9" name="container24"> 
                                        <wm-checkboxset height="auto" name="checkboxset7" layout="stacked" dataset="bind:Variables.ValuesInsideArray.dataSet" datafield="All Fields" selectedvalues="bind:Widgets.text7_1.datavalue"></wm-checkboxset> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite30" captionposition="top"> 
                                    <wm-label class="col-md-3 control-label" name="label33" caption="Get checkboxset1 Selected Data"></wm-label> 
                                    <wm-container class="col-md-9" name="container25"> 
                                        <wm-checkboxset height="auto" name="checkboxset8" layout="inline" dataset="bind:Widgets.checkboxset1.datavalue" datafield="All Fields" disabled="true"></wm-checkboxset> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow3"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn7"> 
                                <wm-label padding="unset 0.5em 1em unset" name="label13_1" caption="Unchangeable Properties In Runtime" fontweight="bold" color="#000000" margin="20px unset unset unset" class="h3"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow4"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn8"> 
                                <wm-composite name="composite5"> 
                                    <wm-label class="col-md-3 control-label" name="label6" caption="Tab Index"></wm-label> 
                                    <wm-container class="col-md-9" name="container5"> 
                                        <wm-text name="text4" tabindex="1" datavalue="bind:Widgets.checkboxset2.tabindex"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite9"> 
                                    <wm-label class="col-md-3 control-label" name="label11" caption="Name"></wm-label> 
                                    <wm-container class="col-md-9" name="container9"> 
                                        <wm-text name="text8" tabindex="4" datavalue="bind:Widgets.checkboxset2.name"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite7"> 
                                    <wm-label class="col-md-3 control-label" name="label9" caption="Layout"></wm-label> 
                                    <wm-container class="col-md-9" name="container7"> 
                                        <wm-text name="text6" tabindex="2" datavalue="bind:Widgets.checkboxset2.layout"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite15"> 
                                    <wm-label class="col-md-3 control-label" caption="Display Expression" name="label18"></wm-label> 
                                    <wm-container class="col-md-9" name="container15"> 
                                        <wm-text datavalue="bind:Widgets.checkboxset1.displayexpression" autofocus="false" name="text14"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn9"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow5"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn10"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn11"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow7"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn11_1"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn12"></wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-accordionpane> 
                <wm-accordionpane name="accordionpane2" title="Checkboxset Events Partial" content="checkboxset_events_partial"></wm-accordionpane> 
            </wm-accordion> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer"></wm-footer> 
</wm-page>