<wm-page data-ng-controller="toggle_scriptPageController" pagetitle="Toggle Script"> 
    <wm-header content="header"></wm-header> 
    <wm-top-nav content="topnav"></wm-top-nav> 
    <wm-content> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-accordion name="accordion1"> 
                <wm-accordionpane name="accordionpane1" title="Toggle Script"> 
                    <wm-layoutgrid name="layoutgrid1" columns="2"> 
                        <wm-gridrow name="gridrow28"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn71"> 
                                <wm-label padding="unset 0.5em" name="label3" class="h2" caption="Toggle widget properties with Script"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn72" horizontalalign="center"> 
                                <wm-label padding="unset 0.5em" name="label4" caption="Preview" fontweight="bold" class="h2"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow34"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn83"> 
                                <wm-label padding="unset 0.5em" name="label20_1" class="h3" fontweight="bold" caption="Changeable properties"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn84"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow29"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn73"> 
                                <wm-composite name="composite3"> 
                                    <wm-label class="col-md-3 control-label" name="label5" caption="Hint"></wm-label> 
                                    <wm-container class="col-md-9" name="container3"> 
                                        <wm-text name="text3" datavalue="toggle hint" on-change="text3Change($event, $scope, newVal, oldVal)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite7"> 
                                    <wm-label class="col-md-3 control-label" name="label9" caption="Show/Hide"></wm-label> 
                                    <wm-container class="col-md-9" name="container7"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle2" datavalue="true" on-change="toggle2Change($event, $scope, newVal, oldVal)"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite8"> 
                                    <wm-label class="col-md-3 control-label" name="label10" caption="Value"></wm-label> 
                                    <wm-container class="col-md-9" name="container8"> 
                                        <wm-text name="text5" datavalue="on" on-change="text5Change($event, $scope, newVal, oldVal)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite16_1"> 
                                    <wm-label class="col-md-3 control-label" name="label20_2" caption="Read Only"></wm-label> 
                                    <wm-container class="col-md-9" name="container16_1"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle3" datavalue="false" on-change="toggle3Change($event, $scope, newVal, oldVal)"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite18"> 
                                    <wm-label class="col-md-3 control-label" name="label22" caption="Disabled"></wm-label> 
                                    <wm-container class="col-md-9" name="container18"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle4" datavalue="false" on-change="toggle4Change($event, $scope, newVal, oldVal)"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite17_1"> 
                                    <wm-label class="col-md-3 control-label" name="label21_1" caption="Required"></wm-label> 
                                    <wm-container class="col-md-9" name="container17_1"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle5" on-change="toggle5Change($event, $scope, newVal, oldVal)"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite15"> 
                                    <wm-label class="col-md-3 control-label" name="label18" caption="Checked Value"></wm-label> 
                                    <wm-container class="col-md-9" name="container15"> 
                                        <wm-text name="text13" readonly="false" disabled="false" datavalue="bind:Widgets.toggle1.checkedvalue" on-change="text13Change($event, $scope, newVal, oldVal)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite16"> 
                                    <wm-label class="col-md-3 control-label" name="label19" caption="UnChecked Value"></wm-label> 
                                    <wm-container class="col-md-9" name="container16"> 
                                        <wm-text name="text14" readonly="false" disabled="false" datavalue="bind:Widgets.toggle1.uncheckedvalue" on-change="text14Change($event, $scope, newVal, oldVal)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite12"> 
                                    <wm-label class="col-md-3 control-label" name="label15" caption="Width"></wm-label> 
                                    <wm-container class="col-md-9" name="container12"> 
                                        <wm-text name="text10" readonly="false" disabled="false" datavalue="100px" on-change="text10Change($event, $scope, newVal, oldVal)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite18_1"> 
                                    <wm-label class="col-md-3 control-label" name="label23" caption="Height"></wm-label> 
                                    <wm-container class="col-md-9" name="container18_1"> 
                                        <wm-text name="text12_1" datavalue="50px" on-change="text12_1Change($event, $scope, newVal, oldVal)"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-label padding="unset 0.5em" name="label20" caption="Unchangeable properties in run mode" fontweight="bold" class="h3"></wm-label> 
                                <wm-composite name="composite8_1"> 
                                    <wm-label class="col-md-3 control-label" name="label11_1" caption="TabIndex"></wm-label> 
                                    <wm-container class="col-md-9" name="container8_1"> 
                                        <wm-text name="text6_1" readonly="false" disabled="true" datavalue="bind:Widgets.toggle1.tabindex"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite9_1"> 
                                    <wm-label class="col-md-3 control-label" name="label12_1" caption="Shortcut"></wm-label> 
                                    <wm-container class="col-md-9" name="container9_1"> 
                                        <wm-text name="text7" readonly="false" disabled="true" datavalue="bind:Widgets.toggle1.shortcutkey"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite10"> 
                                    <wm-label class="col-md-3 control-label" name="label13" caption="Load On Demand"></wm-label> 
                                    <wm-container class="col-md-9" name="container10"> 
                                        <wm-checkbox type="toggle" name="toggle6" readonly="false" disabled="true" datavalue="bind:Widgets.toggle1.deferload"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite11"> 
                                    <wm-label class="col-md-3 control-label" name="label14" caption="Name"></wm-label> 
                                    <wm-container class="col-md-9" name="container11"> 
                                        <wm-text name="text9" readonly="false" disabled="true" datavalue="bind:Widgets.toggle1.name"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite14"> 
                                    <wm-label class="col-md-3 control-label" name="label17" caption="Script Variable"></wm-label> 
                                    <wm-container class="col-md-9" name="container14"> 
                                        <wm-text name="text12" readonly="false" datavalue="bind:Widgets.toggle1.scriptvariable" disabled="true"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn74" horizontalalign="center"> 
                                <wm-composite name="composite17"> 
                                    <wm-label class="col-md-3 control-label" name="label21" caption="Toggle"></wm-label> 
                                    <wm-container class="col-md-9" name="container17"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" margin="unset 12em unset unset" backgroundcolor="#ff2500" datavalue="bind:Widgets.text5.datavalue" required="bind:Widgets.toggle5.datavalue" readonly="bind:Widgets.toggle3.datavalue" disabled="bind:Widgets.toggle4.datavalue" hint="bind:Widgets.text3.datavalue" show="bind:Widgets.toggle2.datavalue" deferload="true" shortcutkey="l" checkedvalue="on" uncheckedvalue="off" width="100px" height="50px"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-label padding="unset 0.5em" name="label22_1" caption="Outbound properties" class="h3" fontweight="bold"></wm-label> 
                                <wm-composite name="composite16_2"> 
                                    <wm-label class="col-md-3 control-label" name="label20_3" caption="Caption"></wm-label> 
                                    <wm-container class="col-md-9" name="container16_2"> 
                                        <wm-text name="text10_1" datavalue="bind:Widgets.toggle1.caption"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite17_2"> 
                                    <wm-label class="col-md-3 control-label" name="label21_2" caption="Datavalue"></wm-label> 
                                    <wm-container class="col-md-9" name="container17_2"> 
                                        <wm-text name="text11" datavalue="bind:Widgets.toggle1.datavalue"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow30"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn75"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn76"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow31"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn77"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn78"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow32"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn79"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn80"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow33"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn81"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn82"></wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-accordionpane> 
                <wm-accordionpane name="accordionpane2" title="Toggle Script Partial" content="toggle_script_partial"></wm-accordionpane> 
            </wm-accordion> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer"></wm-footer> 
</wm-page>