<wm-partial data-ng-controller="tabs_binding_partialPageController" name="partial1"> 
    <wm-layoutgrid name="layoutgrid1" columns="2"> 
        <wm-gridrow name="gridrow28"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn71"> 
                <wm-label padding="unset 0.5em" name="label3" class="h2" caption="Tabs widget properties with Bindings"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn72" horizontalalign="center"> 
                <wm-label padding="unset 0.5em" name="label4" caption="Preview" fontweight="bold" class="h2"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow34"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn83"> 
                <wm-label padding="unset 0.5em" name="label20_1" class="h3" fontweight="bold" caption="Changeable properties"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn84"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow29"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn73"> 
                <wm-composite name="composite1"> 
                    <wm-label class="col-md-3 control-label" name="label1" caption="Title"></wm-label> 
                    <wm-container class="col-md-9" name="container1"> 
                        <wm-text name="text1" placeholder="Enter caption" datavalue="Tabs Title 2"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite3"> 
                    <wm-label class="col-md-3 control-label" name="label5" caption="Badge Value"></wm-label> 
                    <wm-container class="col-md-9" name="container3"> 
                        <wm-text name="text3" datavalue="test"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite4"> 
                    <wm-label class="col-md-3 control-label" name="label6" caption="Badge Type"></wm-label> 
                    <wm-container class="col-md-9" name="container4"> 
                        <wm-select name="select1" dataset="default, primary, success, info, warning, danger" datafield="All Fields" datavalue="primary"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite7"> 
                    <wm-label class="col-md-3 control-label" name="label9" caption="Show/Hide"></wm-label> 
                    <wm-container class="col-md-9" name="container7"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" datavalue="true"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite8"> 
                    <wm-label class="col-md-3 control-label" name="label10" caption="Title Icon Class"></wm-label> 
                    <wm-container class="col-md-9" name="container8"> 
                        <wm-text name="text5" datavalue="wi wi-book"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite9"> 
                    <wm-label class="col-md-3 control-label" name="label11" caption="Content"></wm-label> 
                    <wm-container class="col-md-9" name="container9"> 
                        <wm-text name="text6" datavalue="picture_binding_partial"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite21"> 
                    <wm-label class="col-md-3 control-label" name="label26" caption="Tabs Show/Hide"></wm-label> 
                    <wm-container class="col-md-9" name="container21"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle3" datavalue="true" checkedvalue="true" uncheckedvalue="false"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite22"> 
                    <wm-label class="col-md-3 control-label" name="label27" caption="Tabs Default Pane Index"></wm-label> 
                    <wm-container class="col-md-9" name="container22"> 
                        <wm-text name="text18" type="number" datavalue="1"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite15"> 
                    <wm-label class="col-md-3 control-label" name="label19" caption="Disabled"></wm-label> 
                    <wm-container class="col-md-9" name="container15"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle4"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-label padding="unset 0.5em" name="label20" caption="Unchangeable properties in run mode" fontweight="bold" class="h3"></wm-label> 
                <wm-composite name="composite8_1"> 
                    <wm-label class="col-md-3 control-label" name="label11_1" caption="Tab Index"></wm-label> 
                    <wm-container class="col-md-9" name="container8_1"> 
                        <wm-text name="text6_1" readonly="false" disabled="true" datavalue="bind:Widgets.tabpane2.tabindex"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite10"> 
                    <wm-label class="col-md-3 control-label" name="label13" caption="Load On Demand"></wm-label> 
                    <wm-container class="col-md-9" name="container10"> 
                        <wm-checkbox type="toggle" name="toggle2" readonly="false" disabled="true" datavalue="bind:Widgets.tabpane2.deferload"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite11"> 
                    <wm-label class="col-md-3 control-label" name="label14" caption="Name"></wm-label> 
                    <wm-container class="col-md-9" name="container11"> 
                        <wm-text name="text9" readonly="false" disabled="true" datavalue="bind:Widgets.tabpane2.name"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite12"> 
                    <wm-label class="col-md-3 control-label" name="label15" caption="Tabs Name"></wm-label> 
                    <wm-container class="col-md-9" name="container12"> 
                        <wm-text name="text10" readonly="false" datavalue="bind:Widgets.tabs1.name" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite13"> 
                    <wm-label class="col-md-3 control-label" name="label16" caption="Tabs Height"></wm-label> 
                    <wm-container class="col-md-9" name="container13"> 
                        <wm-text name="text11" readonly="false" datavalue="bind:Widgets.tabs1.height" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite16"> 
                    <wm-label class="col-md-3 control-label" name="label20_2" caption="Tabs Position"></wm-label> 
                    <wm-container class="col-md-9" name="container16"> 
                        <wm-text name="text11_1" datavalue="bind:Widgets.tabs1.tabsposition" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite17"> 
                    <wm-label class="col-md-3 control-label" name="label21" caption="Tabs Transition"></wm-label> 
                    <wm-container class="col-md-9" name="container17"> 
                        <wm-text name="text12" datavalue="bind:Widgets.tabs1.transition" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite19"> 
                    <wm-label class="col-md-3 control-label" name="label23" caption="Tabs H.Align"></wm-label> 
                    <wm-container class="col-md-9" name="container19"> 
                        <wm-text name="text14" datavalue="bind:Widgets.tabs1.horizontalalign" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite18"> 
                    <wm-label class="col-md-3 control-label" name="label22" caption="Tabs Load On Demand"></wm-label> 
                    <wm-container class="col-md-9" name="container18"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle5" datavalue="bind:Widgets.tabs1.deferload" disabled="true"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn74" horizontalalign="left"> 
                <wm-tabs name="tabs1" defaultpaneindex="bind:Widgets.text18.datavalue" tabsposition="left" transition="slide" height="500px" horizontalalign="left" show="bind:Widgets.toggle3.datavalue" deferload="true"> 
                    <wm-tabpane name="tabpane1" title="Tab Title 1" badgevalue="test"></wm-tabpane> 
                    <wm-tabpane name="tabpane2" title="bind:Widgets.text1.datavalue" badgevalue="bind:Widgets.text3.datavalue" badgetype="bind:Widgets.select1.datavalue" show="bind:Widgets.toggle1.datavalue" deferload="true" paneicon="bind:Widgets.text5.datavalue" content="bind:Widgets.text6.datavalue" disabled="bind:Widgets.toggle4.datavalue"></wm-tabpane> 
                    <wm-tabpane name="tabpane3" title="Tab Title 3" badgetype="success" badgevalue="test" content="html_binding_partial"></wm-tabpane> 
                    <wm-tabpane name="tabpane4" title="Tab Title 4" badgetype="info" badgevalue="test" content="iframedialog_binding_partial"></wm-tabpane> 
                    <wm-tabpane name="tabpane5" title="Tab Title 5" badgetype="warning" badgevalue="test" content="toggle_binding_partial"></wm-tabpane> 
                    <wm-tabpane name="tabpane6" title="Tab Title 6" badgetype="danger" badgevalue="test" content="anchor_binding_partial"></wm-tabpane> 
                </wm-tabs> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow30"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn75"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn76"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow31"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn77"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn78"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow32"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn79"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn80"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow33"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn81"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn82"></wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>