<wm-partial data-ng-controller="accordion_events_partialPageController"> 
    <wm-layoutgrid name="layoutgrid1" columns="2"> 
        <wm-gridrow name="gridrow28"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn71"> 
                <wm-label padding="unset 0.5em" name="label3" class="h2" caption="Accordion widget properties with Events"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn72" horizontalalign="center"> 
                <wm-label padding="unset 0.5em" name="label4" caption="Preview" fontweight="bold" class="h2"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow34"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn83"> 
                <wm-label padding="unset 0.5em" name="label20_1" class="h3" fontweight="bold" caption="Changeable properties applies for acc 2 on load"></wm-label> 
                <wm-label padding="unset 0.5em" name="label23" fontweight="bold" class="h4" fontstyle="italic" caption="Expand, Collapse events written for Acc 2."></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn84"> 
                <wm-label padding="unset 0.5em" name="label24" caption="Change event message shows up for Acc 5" class="h4" fontweight="bold" fontstyle="italic"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow29"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn73"> 
                <wm-composite name="composite1"> 
                    <wm-label class="col-md-3 control-label" name="label1" caption="Title 1"></wm-label> 
                    <wm-container class="col-md-9" name="container1"> 
                        <wm-text name="text1" placeholder="Enter caption" datavalue="Accordion Title 1" on-change="text1Change($event, $scope, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite2"> 
                    <wm-label class="col-md-3 control-label" name="label2" caption="Sub Heading 2"></wm-label> 
                    <wm-container class="col-md-9" name="container2"> 
                        <wm-text name="text2" datavalue="Accordion Sub Heading 2" on-change="text2Change($event, $scope, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite3"> 
                    <wm-label class="col-md-3 control-label" name="label5" caption="Badge Value"></wm-label> 
                    <wm-container class="col-md-9" name="container3"> 
                        <wm-text name="text3" datavalue="test" on-change="text3Change($event, $scope, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite4"> 
                    <wm-label class="col-md-3 control-label" name="label6" caption="Badge Type"></wm-label> 
                    <wm-container class="col-md-9" name="container4"> 
                        <wm-select name="select1" dataset="default, primary, success, info, warning, danger" datafield="All Fields" datavalue="primary" on-change="select1Change($event, $scope, newVal, oldVal)"></wm-select> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite7"> 
                    <wm-label class="col-md-3 control-label" name="label9" caption="Show/Hide"></wm-label> 
                    <wm-container class="col-md-9" name="container7"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" datavalue="true" on-change="toggle1Change($event, $scope, newVal, oldVal)"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite8"> 
                    <wm-label class="col-md-3 control-label" name="label10" caption="Title Icon Class"></wm-label> 
                    <wm-container class="col-md-9" name="container8"> 
                        <wm-text name="text5" datavalue="wi wi-book" on-change="text5Change($event, $scope, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite9"> 
                    <wm-label class="col-md-3 control-label" name="label11" caption="Content"></wm-label> 
                    <wm-container class="col-md-9" name="container9"> 
                        <wm-text name="text6" datavalue="picture_binding_partial" on-change="text6Change($event, $scope, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite21"> 
                    <wm-label class="col-md-3 control-label" name="label26" caption="Show/Hide Acc"></wm-label> 
                    <wm-container class="col-md-9" name="container21"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle3" datavalue="true" checkedvalue="true" uncheckedvalue="false" on-change="toggle3Change($event, $scope, newVal, oldVal)"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite22"> 
                    <wm-label class="col-md-3 control-label" name="label27" caption="Default Pane Index Acc"></wm-label> 
                    <wm-container class="col-md-9" name="container22"> 
                        <wm-text name="text18" type="number" datavalue="1" on-change="text18Change($event, $scope, newVal, oldVal)"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite10"> 
                    <wm-label class="col-md-3 control-label" name="label13" caption="Load On Demand"></wm-label> 
                    <wm-container class="col-md-9" name="container10"> 
                        <wm-checkbox type="toggle" name="toggle2" readonly="false" disabled="false" on-change="toggle2Change($event, $scope, newVal, oldVal)" datavalue="true"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite24"> 
                    <wm-label class="col-md-3 control-label" name="label29" caption="Load On Demand Acc"></wm-label> 
                    <wm-container class="col-md-9" name="container24"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle5" on-change="toggle5Change($event, $scope, newVal, oldVal)" datavalue="true"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite23"> 
                    <wm-label class="col-md-3 control-label" name="label28" caption="Close Others Acc"></wm-label> 
                    <wm-container class="col-md-9" name="container23"> 
                        <wm-checkbox caption="Toggle" type="toggle" name="toggle4" on-change="toggle4Change($event, $scope, newVal, oldVal)" datavalue="true"></wm-checkbox> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite13"> 
                    <wm-label class="col-md-3 control-label" name="label16" caption="Height"></wm-label> 
                    <wm-container class="col-md-9" name="container13"> 
                        <wm-text name="text11" readonly="false" disabled="false" on-change="text11Change($event, $scope, newVal, oldVal)" datavalue="200px"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite18"> 
                    <wm-label class="col-md-3 control-label" name="label22" caption="Height Acc"></wm-label> 
                    <wm-container class="col-md-9" name="container18"> 
                        <wm-text name="text12" on-change="text12Change($event, $scope, newVal, oldVal)" datavalue="1000px"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-label padding="unset 0.5em" name="label20" caption="Unchangeable properties in run mode" fontweight="bold" class="h3"></wm-label> 
                <wm-composite name="composite8_1"> 
                    <wm-label class="col-md-3 control-label" name="label11_1" caption="Tab Index"></wm-label> 
                    <wm-container class="col-md-9" name="container8_1"> 
                        <wm-text name="text6_1" readonly="false" disabled="true" datavalue="bind:Widgets.accordionpane2.tabindex"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite9_1"> 
                    <wm-label class="col-md-3 control-label" name="label12_1" caption="Tab Index Acc"></wm-label> 
                    <wm-container class="col-md-9" name="container9_1"> 
                        <wm-text name="text7" readonly="false" datavalue="bind:Widgets.accordion1.tabindex" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite11"> 
                    <wm-label class="col-md-3 control-label" name="label14" caption="Name"></wm-label> 
                    <wm-container class="col-md-9" name="container11"> 
                        <wm-text name="text9" readonly="false" disabled="true" datavalue="bind:Widgets.accordionpane2.name"></wm-text> 
                    </wm-container> 
                </wm-composite> 
                <wm-composite name="composite12"> 
                    <wm-label class="col-md-3 control-label" name="label15" caption="Name Acc"></wm-label> 
                    <wm-container class="col-md-9" name="container12"> 
                        <wm-text name="text10" readonly="false" datavalue="bind:Widgets.accordion1.name" disabled="true"></wm-text> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn74" horizontalalign="center"> 
                <wm-accordion name="accordion1" show="true" deferload="true" height="1000px" closeothers="true" defaultpaneindex="1" on-change="accordion1Change($event, $scope, newPaneIndex, oldPaneIndex)"> 
                    <wm-accordionpane name="accordionpane1" show="true" title="" badgevalue="test" iconclass="wi wi-account-circle"></wm-accordionpane> 
                    <wm-accordionpane name="accordionpane2" title="Accordion Title 2" badgetype="default" badgevalue="test" iconclass="" height="200px" show="true" deferload="true" on-load="accordionpane2Load($event, $scope)" on-expand="accordionpane2Expand($event, $scope)" on-collapse="accordionpane2Collapse($event, $scope)"></wm-accordionpane> 
                    <wm-accordionpane name="accordionpane3" badgetype="success" badgevalue="test" iconclass="wi wi-account-balance"></wm-accordionpane> 
                    <wm-accordionpane name="accordionpane4" badgetype="info" badgevalue="test" title="" subheading="Title"></wm-accordionpane> 
                    <wm-accordionpane name="accordionpane5" badgetype="warning" badgevalue="test" title="" iconclass="wi wi-assignment-ind"></wm-accordionpane> 
                    <wm-accordionpane name="accordionpane6" badgetype="danger" badgevalue="test"></wm-accordionpane> 
                </wm-accordion> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow30"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn75"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn76"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow31"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn77"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn78"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow32"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn79"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn80"></wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow33"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn81"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn82"></wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>