<wm-page data-ng-controller="accordion_bindingPageController" pagetitle="Accordion Binding"> 
    <wm-header content="header"></wm-header> 
    <wm-top-nav content="topnav"></wm-top-nav> 
    <wm-content> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-tabs name="tabs1"> 
                <wm-tabpane name="tabpane1" title="Accordion Binding"> 
                    <wm-layoutgrid name="layoutgrid1" columns="2"> 
                        <wm-gridrow name="gridrow28"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn71"> 
                                <wm-label padding="unset 0.5em" name="label3" class="h2" caption="Accordion widget properties with Bindings"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn72" horizontalalign="center"> 
                                <wm-label padding="unset 0.5em" name="label4" caption="Preview" fontweight="bold" class="h2"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow34"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn83"> 
                                <wm-label padding="unset 0.5em" name="label20_1" class="h3" fontweight="bold" caption="Changeable properties"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn84"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow29"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn73"> 
                                <wm-composite name="composite1"> 
                                    <wm-label class="col-md-3 control-label" name="label1" caption="Title 1"></wm-label> 
                                    <wm-container class="col-md-9" name="container1"> 
                                        <wm-text name="text1" placeholder="Enter caption" datavalue="Accordion Title 1"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite2"> 
                                    <wm-label class="col-md-3 control-label" name="label2" caption="Sub Heading 2"></wm-label> 
                                    <wm-container class="col-md-9" name="container2"> 
                                        <wm-text name="text2" datavalue="Accordion Sub Heading 2"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite3"> 
                                    <wm-label class="col-md-3 control-label" name="label5" caption="Badge Value"></wm-label> 
                                    <wm-container class="col-md-9" name="container3"> 
                                        <wm-text name="text3" datavalue="test"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite4"> 
                                    <wm-label class="col-md-3 control-label" name="label6" caption="Badge Type"></wm-label> 
                                    <wm-container class="col-md-9" name="container4"> 
                                        <wm-select name="select1" dataset="default, primary, success, info, warning, danger" datafield="All Fields" datavalue="primary"></wm-select> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite7"> 
                                    <wm-label class="col-md-3 control-label" name="label9" caption="Show/Hide"></wm-label> 
                                    <wm-container class="col-md-9" name="container7"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle1" datavalue="true"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite8"> 
                                    <wm-label class="col-md-3 control-label" name="label10" caption="Title Icon Class"></wm-label> 
                                    <wm-container class="col-md-9" name="container8"> 
                                        <wm-text name="text5" datavalue="wi wi-book"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite9"> 
                                    <wm-label class="col-md-3 control-label" name="label11" caption="Content"></wm-label> 
                                    <wm-container class="col-md-9" name="container9"> 
                                        <wm-text name="text6" datavalue="picture_binding_partial"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite21"> 
                                    <wm-label class="col-md-3 control-label" name="label26" caption="Show/Hide Acc"></wm-label> 
                                    <wm-container class="col-md-9" name="container21"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle3" datavalue="true" checkedvalue="true" uncheckedvalue="false"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite22"> 
                                    <wm-label class="col-md-3 control-label" name="label27" caption="Default Pane Index Acc"></wm-label> 
                                    <wm-container class="col-md-9" name="container22"> 
                                        <wm-text name="text18" type="number" datavalue="1"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-label padding="unset 0.5em" name="label20" caption="Unchangeable properties in run mode" fontweight="bold" class="h3"></wm-label> 
                                <wm-composite name="composite8_1"> 
                                    <wm-label class="col-md-3 control-label" name="label11_1" caption="Tab Index"></wm-label> 
                                    <wm-container class="col-md-9" name="container8_1"> 
                                        <wm-text name="text6_1" readonly="false" disabled="true" datavalue="bind:Widgets.accordionpane2.tabindex"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite9_1"> 
                                    <wm-label class="col-md-3 control-label" name="label12_1" caption="Tab Index Acc"></wm-label> 
                                    <wm-container class="col-md-9" name="container9_1"> 
                                        <wm-text name="text7" readonly="false" datavalue="bind:Widgets.accordion1.tabindex" disabled="true"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite10"> 
                                    <wm-label class="col-md-3 control-label" name="label13" caption="Load On Demand"></wm-label> 
                                    <wm-container class="col-md-9" name="container10"> 
                                        <wm-checkbox type="toggle" name="toggle2" readonly="false" disabled="true" datavalue="bind:Widgets.accordionpane2.deferload"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite11"> 
                                    <wm-label class="col-md-3 control-label" name="label14" caption="Name"></wm-label> 
                                    <wm-container class="col-md-9" name="container11"> 
                                        <wm-text name="text9" readonly="false" disabled="true" datavalue="bind:Widgets.accordionpane2.name"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite12"> 
                                    <wm-label class="col-md-3 control-label" name="label15" caption="Name Acc"></wm-label> 
                                    <wm-container class="col-md-9" name="container12"> 
                                        <wm-text name="text10" readonly="false" datavalue="bind:Widgets.accordion1.name" disabled="true"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite13"> 
                                    <wm-label class="col-md-3 control-label" name="label16" caption="Height / Acc Height"></wm-label> 
                                    <wm-container class="col-md-9" name="container13"> 
                                        <wm-text name="text11" readonly="false" datavalue="bind:Widgets.accordionpane2.height + &quot; / &quot; + Widgets.accordion1.height" disabled="true"></wm-text> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite23"> 
                                    <wm-label class="col-md-3 control-label" name="label28" caption="Close Others Acc"></wm-label> 
                                    <wm-container class="col-md-9" name="container23"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle4" datavalue="bind:Widgets.accordion1.closeothers"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                                <wm-composite name="composite24"> 
                                    <wm-label class="col-md-3 control-label" name="label29" caption="Load On Demand Acc"></wm-label> 
                                    <wm-container class="col-md-9" name="container24"> 
                                        <wm-checkbox caption="Toggle" type="toggle" name="toggle5" datavalue="bind:Widgets.accordion1.deferload"></wm-checkbox> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn74" horizontalalign="center"> 
                                <wm-accordion name="accordion1" defaultpaneindex="bind:Widgets.text18.datavalue" show="true" deferload="true" height="1000px" closeothers="true"> 
                                    <wm-accordionpane name="accordionpane1" show="true" title="bind:Widgets.text1.datavalue" badgevalue="test" iconclass="wi wi-account-circle"></wm-accordionpane> 
                                    <wm-accordionpane name="accordionpane2" title="Accordion Title 2" subheading="bind:Widgets.text2.datavalue" badgetype="bind:Widgets.select1.datavalue" badgevalue="bind:Widgets.text3.datavalue" iconclass="bind:Widgets.text5.datavalue" content="bind:Widgets.text6.datavalue" height="200px" show="bind:Widgets.toggle1.datavalue" deferload="true"></wm-accordionpane> 
                                    <wm-accordionpane name="accordionpane3" badgetype="success" badgevalue="test" iconclass="wi wi-account-balance"></wm-accordionpane> 
                                    <wm-accordionpane name="accordionpane4" badgetype="info" badgevalue="test" title="" subheading="Title"></wm-accordionpane> 
                                    <wm-accordionpane name="accordionpane5" badgetype="warning" badgevalue="test" title="" iconclass="wi wi-assignment-ind"></wm-accordionpane> 
                                    <wm-accordionpane name="accordionpane6" badgetype="danger" badgevalue="test"></wm-accordionpane> 
                                </wm-accordion> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow30"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn75"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn76"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow31"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn77"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn78"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow32"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn79"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn80"></wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow33"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn81"></wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn82"></wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-tabpane> 
                <wm-tabpane name="tabpane2" title="Accordion Binding Partial" content="accordion_binding_partial"></wm-tabpane> 
            </wm-tabs> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer"></wm-footer> 
</wm-page>